<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <!-- <header>
      <a href="" class="logo">LOGO</a>
      <nav>
        <a href="">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
      </nav>
    </header> -->

    <%- include('../partials/menu'); %>
    <!-- inclue um fragmento de código no HTML
     para comentar um include usa-se # -->

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <section class="container">
      <div class="image_container">
        <h1>Bem Vindo!</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <img src="/static/images/wallpapergreen.jpg" class="img" />
    </section>

    <%- include('../partials/footer'); %>
  </body>
</html>
