<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
  <header><%- include('../partials/menu'); %></header>

  <main class="container">
    <div class="txt2">
      <h1>Usuário Inválido</h1>
      <h3>Username ou senha errados</h3>
    </div>
    <img class="img" src="/static/images/wallpapergreen.jpg" />
  </main>

  <footer><%- include('../partials/footer'); %></footer>
</body>

</html>